{% if this.schema.transformer.components == None%}
  Enter a Rosie pattern line with variables that correspond to the new column(s) that will be created from the selected columnn. In the next step you will define a pattern for each of the specified variables. See an example with the link below:
{% else %}
  Define a Rosie pattern for each of the extracted variables. See an example with the link below:
{% endif %}
<br><br>
<a href="https://github.com/jamiejennings/rosie-pattern-language/blob/master/doc/raisondetre.md" target="_blank">Rosie Documentation</a>
