<div class="well" style="width: 100%; height: 100%; overflow: hidden;">
  <H1 style="text-align: center;font-size: 180%;">Transform Selected Column</H1>
  <br>
  <div class="panel panel-primary" style="width: 48%; float: left; margin: 1%;">
    <div class="panel-heading">Build Rosie Pattern to Create New Column(s) From Selected Column</div>
    <div id="pattern_panel{{prefix}}" class="panel-body" style="height: 200px; overflow: auto;">
    </div>
  </div>

  <div class="panel panel-primary" style="width: 48%; float: left; margin: 1%;">
    <div class="panel-heading">Get Help With Rosie</div>
    <div id="help_panel{{prefix}}" class="panel-body" style="height: 200px; overflow: auto;">
    </div>
  </div>
  <br><br>
  <div class="panel panel-primary" style="width: 48%; float: left; margin: 1%;">
    <div class="panel-heading">Sample of Selected Column</div>
    <div class="panel-body" style="height: 400px; overflow: auto;">
      <table class="table table-bordered table-striped">
        <thead>
          <th style="text-align: left;">{{this.schema.colnames[transform_state|int]}}</th>
        </thead>
        {%for row in this.schema.sample_data:%}
          <tr>
            {%for col in row:%}
              {% if loop.index0 == transform_state|int %}
                <td style="text-align: left;">{{col}}</td>
              {% endif %}
            {%endfor%}
          </tr>
        {%endfor%}
      </table>
    </div>
  </div>
  <div class="panel panel-primary" style="width: 48%; float: left; margin: 1%;">
    <div class="panel-heading">Sample of New Column(s)</div>
    <div id="newColumns_panel{{prefix}}" class="panel-body" style="height: 400px; overflow: auto;">
    </div>
  </div>
  <div id="transform_buttons{{prefix}}" style="margin: 1%;">
  </div>
</div>
